.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid;
    list-style: none;
}

.logo{
    height: 100px;
    width: 100px;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    list-style: none;
    padding: 10px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: space-around;
}

.list a{
    text-decoration: none;
    margin: 10px;
    color: blueviolet;
    justify-content: space-between;

}

.claseActiva{
    color: green;
}

.claseInactiva{
    color: red;
}